<main class="error">
  <section>
    <h1>Oh No! Error 404</h1>
    <p>It looks like something went wrong while going to the page...</p>
    <div>
      <a href="/">Go back to home page</a>
    </div>
  </section>
</main>
