<main class="home">
  <h1>Welcome to Guess.jpg!</h1>

  <form action="/enterRoom" method="POST">
    <fieldset>
      <label>
        GameID:
        <input
          type="text"
          name="gameID"
          id="gameID"
          required
          autocomplete="off"
        />
      </label>

      <label>
        UserName:
        <input type="text" name="userName" id="userName" required />
      </label>
      <input type="submit" value="Enter room" />
    </fieldset>
  </form>
  <button>Create new key</button>
  <p><%= newKey %></p>
</main>
