<main class="room">
  <h1>Guess.jpg</h1>
  <section></section>
  <section>
    <h2>Group Chat</h2>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input type="hidden" id="roomID" name="<%= roomID %>" />
      <input type="hidden" id="userName" name="<%= userName%>" />
      <input id="input" autocomplete="off" placeholder="Type something..." />
      <button>Send</button>
    </form>
  </section>
</main>

<script src="/js/main.js"></script>
