* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
}

body {
  background-color: white;
  background-image: linear-gradient(45deg, #1d976c, #93f9b9);
  color: black;
  overflow-y: hidden;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

/*******************************************************
                        HOME:
********************************************************/

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 1em;
}

.home section {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  box-shadow: 5px 5px 20px #1d976c;
  border-radius: 1em;
  margin: 0 auto;
  padding: 2em;
  height: 60vh;
  width: 100%;
}

.home section div {
  height: 100%;
  width: 100%;
}

.home section div div {
  display: flex;
  flex-direction: column;
}

.home section div div button {
  margin-top: 1.2em;
  cursor: pointer;
  height: 30px;
  background-color: white;
  border: 1px solid #0c4934;
  color: #0c4934;
  border-radius: 2px;
}

.home section div form {
  width: 100%;
}

.home section div form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  height: 100%;
}

.home section div form fieldset label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.home section div form fieldset input[type="text"] {
  padding-left: 0.5em;
  height: 2em;
  border-radius: 2px;
  border: none;
}

.home section div form fieldset input[type="text"]:valid {
  background-color: white;
}

.home section div form fieldset input[type="text"]:focus:invalid {
  border: 1px solid red;
}

.home section div form fieldset input[type="submit"] {
  cursor: pointer;
  height: 30px;
  background-color: #0c4934;
  color: white;
  border-radius: 2px;
  border: none;
}

.home section div form fieldset input[type="submit"]:hover {
  background-color: #1d976c;
}

@media (min-width: 498px) {
  .home {
    margin: 0 auto;
  }
  .home section {
    width: 420px;
  }
}

/*******************************************************
                        ROOM:
********************************************************/

.room {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 1em;
}

.room section {
  background-color: #edf0f5;
  border-radius: 1em;
  height: calc(100vh - 50px);
}

.room section header {
  background-color: #edf0f5;
  border-radius: 1em 1em 0 0;
  box-shadow: 1px 1px 10px rgb(202 202 202);
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 70px;
  padding: 1em;
}

.room section header h1 {
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}

.room section header p {
  font-weight: bold;
}

.room section:first-child {
  width: 65vw;
  margin-right: 1em;
  position: relative;
}

.room section:nth-of-type(2) {
  position: relative;
  width: 35vw;
}

.room section:nth-of-type(2) header {
  position: absolute;
}

.room section:nth-of-type(2) header h2 {
  font-weight: bold;
  font-size: 1em;
}

.room section ul {
  padding: 1em;
  overflow-y: scroll;
  padding-top: 6em;
  height: 90vh;
}

.room section ul li {
  list-style-type: none;
  margin: 1em 0;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(202, 202, 202);
  border-radius: 10px;
  padding: 1em;
  width: 70%;
}

.room section ul li:last-child {
  margin-bottom: 2em;
}

.room section ul li .name {
  color: rgb(168, 168, 168);
  margin-bottom: 5px;
}

.room .own-chats {
  margin-left: 30%;
  background-color: rgb(234, 234, 234);
}

.room .bot-chats {
  background-color: #bdf5d2;
}

.room section:nth-of-type(2) form {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 1em;
  position: absolute;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.room section:nth-of-type(2) form input[type="text"] {
  width: 80%;
  height: 2em;
  padding-left: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 1em;
}

.room section:nth-of-type(2) form input[type="text"]:focus {
  border-radius: 5px;
}

.room section:nth-of-type(2) form button {
  width: 20%;
  background-color: #0c4934;
  color: white;
  border: none;
  border-radius: 5px;
  height: 2em;
}

.room .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.room .button-container button {
  background-color: #0c4934;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 2em;
  padding: 0 1em;
  border: none;
  box-shadow: 2px 2px 5px rgb(202, 202, 202);
}

.room .button-container button:hover {
  background-color: #1d976c;
}

.room section .output {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em 1em;
}

.room section .output p:nth-of-type(1) {
  margin-bottom: 2em;
}

.room section .output p {
  font-weight: bold;
}

.room section .output span {
  display: flex;
  padding-top: 0.5em;
}

.room section figure {
  background-color: #edf0f5;
  border-radius: 1em;
  width: 300px;
  height: 200px;
  top: 8.5em;
  box-shadow: 5px 5px 10px rgb(197, 197, 197);
}

.room section figure img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.room section canvas {
  background-color: white;
  border-radius: 1em;
  margin: 1em;
  box-shadow: 1px 1px 5px rgb(202, 202, 202);
}

.guessedIMG {
  width: inherit;
  border-radius: 1em;
}

/*******************************************************
                        ERROR:
********************************************************/

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1em;
}

.error section {
  background-color: #edf0f5;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 100%;
}

.error section h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.error section p {
  text-align: center;
}

.error section div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 1em 0;
}

.error section div a {
  background-color: #0c4934;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  border-radius: 5px;
}

.error section div a:hover {
  background-color: #1d976c;
}

@media (min-width: 462px) {
  .error section {
    padding: 2em;
  }

  .error section h1 {
    font-size: 4em;
  }
}

@media (min-width: 786px) {
  .error section {
    height: 70vh;
    width: 50vw;
  }
}

/*******************************************************
                        FOOTER:
********************************************************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer div p a {
  text-decoration: none;
  color: #0c4934;
}
