<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Title" content="Guess.jpg" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicons/favicon-16x16.png"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <title><%= pageTitle %> - Guess.jpg</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
